body {
    font-family: "Noto sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link {
    text-decoration: none;
}

input {
    vertical-align: -5%;
    margin-left: 6px;
}

#logoLichess{
    width:96px;
    height:96px;
}

.container {
    width: 520px;
    text-align: center;
    border: 3px solid #000;
    background: linear-gradient(#25374d, #142331);
    padding: 4px 4px 28px 4px;
    border-radius: 4px;
    color: white;
}

h2{
    margin: 0 0 10px 0;
}

.sub {
    margin-top: 10px;
}

.sub.rotation{
    margin: 10px 50px 0 50px;
    padding-top: 3px;
    border-radius: 6px;
}

.hide-areas{
    margin : 0 100px 0 100px;
    margin-top: 0;
    text-align: left;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 5px;
}

.hide-areas label{
    min-width : 130px;
    display:inline-block;
}

.hide-challenges{
    margin : 0 100px 0 100px;
    margin-top: 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);    
    border-radius: 10px;
    padding: 5px;
}

.hide-challenges label{
    min-width : 50px;
    display:inline-block;
}

.btn{
    margin : 0 100px 0 100px;
    margin-top : 20px;
    text-align: right;
}

.btn button{
    background-color: rgba(255,255,255,0.3);
    color:white;
    padding : 8px 40px 8px 40px;
    border : 1px solid white;
    border-radius: 10px;
}

.btn button:not([disabled]):hover{
    border: 1px solid #fff;
    background-color: #25374d;
    color: #ffffff;
  }
  
  .btn  button:disabled,
  .btn button[disabled]{
    border: 1px solid #999;    
    background-color: rgba(255,255,255,0.1);
    color: #999;
  }
