body {
    font-family: "Noto sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link {
    text-decoration: none;
}

input {
    vertical-align: -5%;
    margin-left: 6px;
}

input[type=text]{
    vertical-align: -5%;
    margin-left: 0px;
}

.zone{
    display : none;
    min-height : 452px;
}

.zone.chosen{
    display : block;
}

.menu-zones{
    position: absolute;
    text-align:left;
    margin:3px;
}

.noCssPlease{
    display:none;
    position: absolute;
    left : 20px;
    bottom : 20px;
}

.menu-zones span {
    padding: 8px 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom:none;
    text-align: center;
    display: inline-block;
    margin-right: 6px;
    width : 40px;
}

.menu-zones span.chosen{
    color:black;
    background-color: rgba(255, 255, 255, 1);
}

table { border-collapse: collapse; }

tr, td { padding: 0; }

td.litterbin{
    font-size: 22px;
    text-align: center;
    color:red;
    background-color:rgba(255,0,0,0.1);
}

.header-bottom{
    border-bottom: 1px solid white;
    padding-bottom: 6px;
}

td div { padding: 2px 6px 2px 6px; }

td div span img{
    width: 50px;
}

td#action{
    font-size: 22px;
    text-align: center;
    color:greenyellow;
}

.menu-zones span:hover:not(.chosen){
    border-color: rgba(255, 255, 255, 0.8);
    color : rgba(255, 255, 255, 0.8);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

#friends-zone .zone-wrapper{
    position: absolute;
    width: 100%;
    top: 80px;
}

#friends-liste {
    overflow-y: scroll;
    height: 340px;
}

#friends-liste td.tdWithImage{
    background-size: 50px;
    background-repeat:no-repeat;
}

.pseudoLichess{
    cursor : pointer;
}

.pseudoLichess:hover{
    color : greenyellow;
}

#friends-liste td.tdWithImage div{
    opacity:0.8;
    padding-left: 60px;
}

#action{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    user-select: none;
}

.supprBtn{
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    user-select: none; 
}

#friends-zone table{
    margin-left :10px;
    border:1px solid white;
    text-align: left;
    line-height: 2;
    width:95%;
    background-color: rgba(255,255,255,0.1);
}

#friends-zone table td label{
    min-width: 44px;
    display: inline-block;
}


#friends-zone table tr:nth-child(even) {
    background-color: rgba(255,255,224,0.1);
}

#pseudo{
    width:60px;
}

#note {
    width: 266px;
}

#image {
    width: 390px;
}

#bots-zone .zone-wrapper {
    position: absolute;
    width: 100%;
    top: 150px;
    left: -10px;
}

.zone-wrapper h2{
    margin-bottom : 16px;
}

.zone-wrapper i {
    margin-left: 20px;
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-bottom: 6px;
}

#bots-zone label {
    min-width: 30px;
    display: inline-block;
    text-align: right;
}

#bots-zone input[type=checkbox] {
    height: 16px;
    width: 16px;
}

#bots-zone input[type=number]{
    min-width : 100px;
    display:inline-block;
    height:25px;   
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    color: white;
}

#ext-version {
    position: absolute;
    top: 20px;
    right: 30px;
}

.saturation {
    position: absolute;
    top: 70px;
    right: 40px;
}

.saturation > span {
    vertical-align: 18%;
}

#saturation {
    width: 100px;
    margin-top: 10px;
}

.lightness {
    position: absolute;
    top: 70px;
    left: 40px;
}

.lightness > span {
    vertical-align: 18%;
}

#lightness {
    width: 100px;
    margin-top: 10px;
}

#rotation{
    width:280px;
    margin-top: 10px;
}

#logoLichess{
    width:96px;
    height:96px;
}

#logoLichess:hover {
    cursor: pointer;
}

.container {
    width: 520px;
    text-align: center;
    border: 3px solid #000;
    background: linear-gradient(#25374d, #142331);
    padding: 4px 4px 28px 4px;
    border-radius: 4px;
    color: white;
}

h2{
    margin: 0 0 10px 0;
}

.sub {
    margin-top: 10px;
}

.noLocalStorageError {
    color : red;
    background-color: white;
    border : 1px solid red;
    padding : 5px;
    border-radius: 4px;
}

.hidden{
    display : none;
}

.sub.rotation{
    margin: 10px 50px 0 50px;
    padding-top: 3px;
    border-radius: 6px;
}

.hide-areas{
    margin : 0 100px 0 100px;
    margin-top: 0;
    text-align: left;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 5px;
}

.hide-areas label{
    min-width : 130px;
    display:inline-block;
}

.hide-challenges{
    margin : 0 100px 0 100px;
    margin-top: 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);    
    border-radius: 10px;
    padding: 5px;
}

.hide-challenges label{
    min-width : 50px;
    display:inline-block;
}

.btn-wrapper-left{
    display : inline-block;
    width: 30%;
    margin : 24px 0 10px 50px;
}

.btn-wrapper-right{
    display : inline-block;
    width: 30%;
    margin : 24px 50px 10px 0;
}

.btn-wrapper button{
    background-color: rgba(255,255,255,0.3);
    color:white;
    padding : 8px 40px 8px 40px;
    border : 1px solid white;
    border-radius: 10px;
    width : 120px;
}

.btn-wrapper button:not([disabled]):hover{
    border: 1px solid #fff;
    background-color: #25374d;
    color: #ffffff;
  }
  
  .btn-wrapper button:disabled,
  .btn-wrapperbutton[disabled]{
    border: 1px solid #999;    
    background-color: rgba(255,255,255,0.1);
    color: #999;
  }

  dialog {
    margin: 10% auto;
    width: 80%;
    max-width: 350px;
    background-color: #fff;
    padding: 34px;
    border: 0;
    border-radius: 5px;
  }

  dialog .close-button{
    display: block;
    margin: 18px auto 6px auto;
    border: 0;
    border-radius: 8px;
    padding: 7px 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background: #25374d;
    cursor: pointer;
    color: #FFF;
    transition: all 240ms linear;
  }

  dialog > p {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }
  dialog > i {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }
  dialog > p:first-of-type {
    margin: 0 auto 20px;
    font-size: 24px;
    font-weight: 600;
  }

